* {
    margin: 0;
    padding: 0;
}

#header {
    background-image: url(Fitness_img/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.navbar-nav li a {
    float: right;
    color: #fff !important;
}

.navbar-brand img {
    width: 150px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.fa-bars {
    color: #fff !important;
    font-size: 26px;
}


/*----------------------- Welcome Text----------------------- */

.welcome {
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.welcome .home-btn {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f;
    transition: 0.5s;
}

.welcome .home-btn:hover {
    color: #013f;
    border: 1px solid #013f;
}


/*----------------------- About us----------------------- */

#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.row img {
    height: 400px;
}

#about .col-md-6 {
    padding: 30px 10px;
}

#about .col-md-6 p {
    text-align: justify;
}

iframe {
    width: 560px;
    height: 315px;
}

#about h3 {
    margin: 20px auto;
}

@media screen and (max-width:720px) {
    .row img {
        height: 200px;
    }
    iframe {
        width: 360px;
        height: 315px;
    }
}

@media screen and (max-width:x) {
    .row img {
        height: 200px;
    }
    iframe {
        width: 360px;
        height: 315px;
    }
}


/*----------------------- services----------------------- */

#services {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}

#services img {
    height: 50px;
    margin-bottom: 10px;
}

#services .col-md-4 {
    padding: 20px;
}

#services .col-md-4 h4 {
    padding: 5px;
}

#services .col-md-4 p {
    text-align: justify;
}


/*----------------------- feachers----------------------- */

#feachers {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Fitness_img/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#feachers .col-md-6 {
    padding: 20px;
}

.feacher-box .feacher-left {
    height: 120px;
    width: 20%;
    float: left;
}

.feacher-box .feacher-left .fa-solid {
    padding-top: 13px;
    font-size: 50px;
}

.feacher-box .feacher-right {
    height: 120px;
    width: 80%;
    float: left;
}

.feacher-box .feacher-left h4 {
    padding: 10px;
    padding-left: 15px;
    text-align: left;
}

.feacher-box .feacher-left p {
    padding-left: 15px;
    text-align: left;
}


/*----------------------- testimonials----------------------- */

#testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
}

#testimonial .col-md-4 {
    padding: 10px 30px;
}

#testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}

.review {
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.review .fa-twitter {
    color: #013f7e;
}

.review span {
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}

testimonial h1 {
    margin-bottom: 20px;
    color: #013f7e;
}

#testimonial p {
    padding-bottom: 30px;
    color: #013f7e;
}

#testimonial .middle {
    margin-top: 30px;
}


/*--------------------------subscribe--------------------------------*/

.subscribe {
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.subscribe h3,
.subscribe p {
    color: #fff;
}

.subscribe .input-group {
    border-radius: 30px;
    background-color: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}

.subscribe .form-control {
    border: none;
    background: transparent;
}

.subscribe .form-control:focus {
    box-shadow: none;
}

.subscribe .input-group-append {
    background-image: linear-gradient(to right, #1c03b5, #5c8bef);
    border-radius: 30px;
}

.subscribe .input-group-text {
    background: transparent;
    border: none;
    color: #fff;
}

.subscribe .btn:focus {
    box-shadow: none;
}


/*--------------------------footeer--------------------------------*/

#footer {
    margin-top: 80px;
    padding: 100px;
    background-color: #efefef;
    color: #013f7e;
}

#footer .footer-logo {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer h1 {
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer p {
    font-size: 12px;
    text-align: left;
}

.box {
    display: flex;
    justify-content: space-between;
}

#footer p i {
    margin-right: 5px;
    font-size: 20px
}

@media screen and (max-width:480px) {
    .box {
        display: flex;
        flex-direction: column;
    }
}